NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=checkout_flow

WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_EVENTS_KEY=
WOMPI_INTEGRITY_KEY=
WOMPI_BASE_URL=https://api-sandbox.co.uat.wompi.dev/v1
